@model ProyectoWheelWander.Models.ViewModel.CrearMotoViewModel

@{
    ViewData["Title"] = "Crear Moto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fondo paddingBorder">
    <h4><span class="text-black">Registro de</span> <span style="color: #ffcc00;">Moto</span></h4>

    <form asp-action="CrearMoto" asp-controller="Moto" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="moto.FkcedulaPropietario" type="hidden" value="@Model.moto.FkcedulaPropietario">
        <div class="camposTexto">
            <input asp-for="moto.PlacaMoto" type="text" class="form-control" placeholder="Placa de la moto" required>
            <span asp-validation-for="moto.PlacaMoto" class="text-danger"></span>

            <input asp-for="moto.CilindrajeMoto" type="text" class="form-control" placeholder="Cilindraje" value="" required>
            <span asp-validation-for="moto.CilindrajeMoto" class="text-danger"></span>

            <input asp-for="moto.Potencia" type="text" class="form-control" placeholder="Caballos de fuerza" value="" required>
            <span asp-validation-for="moto.Potencia" class="text-danger"></span>

            <input asp-for="moto.Peso" type="text" class="form-control" placeholder="Peso (Kg)" value="" required>
            <span asp-validation-for="moto.Peso" class="text-danger"></span>
        </div>

        <div class="camposTexto">
            <input asp-for="moto.CapacidadCombustible" type="text" class="form-control" placeholder="Capacidad combustible (L)" value="" required>
            <span asp-validation-for="moto.CapacidadCombustible" class="text-danger"></span>

            <input asp-for="moto.ConsumoCombustible" type="text" class="form-control" placeholder="Consumo combustible (Km/L)" value="" required>
            <span asp-validation-for="moto.ConsumoCombustible" class="text-danger"></span>

            <input asp-for="moto.PrecioReserva" type="text" class="form-control" placeholder="Precio por dia" value="" required>
            <span asp-validation-for="moto.PrecioReserva" class="text-danger"></span>
        </div>

        <div class="camposTexto">
            <select asp-for="moto.FkidmarcaMoto">
                <option selected>Marcas</option>
                @foreach (var marca in Model.marcas)
                {
                    <option value="@marca.IdmarcaMoto">@marca.NombreMarca @marca.ModeloMoto</option>
                }
            </select>

            <select asp-for="moto.FkidtransmicionMoto">
                <option selected>Tipo de transmición</option>
                @foreach (var transmicion in Model.transmiciones)
                {
                    <option value="@transmicion.IdtransmicionMoto">@transmicion.TipoTransmicion</option>
                }
            </select>

            <select asp-for="moto.ClaseMoto">
                <option selected>Clase</option>
                <option value="1">Primera clase</option>
                <option value="2">Segunda clase</option>
                <option value="3">Tercera clase</option>
            </select>

            <select asp-for="moto.Fkidubicacion">
                <option selected>Ubicación</option>
                @foreach (var ubicacion in Model.ubicaciones)
                {
                    <option value="@ubicacion.Idubicacion">@ubicacion.NombreUbicacion</option>
                }
            </select>
        </div>

        <!-- Áreas para subir imágenes y documentos -->
        <div class="file-upload-container text-black">
            <div style="margin-top: 50px; margin-right: 20px;">
                <div class="form-floating text-black">
                    <textarea class="form-control" style="width: 250px; height: 190px" placeholder="Información adicional" asp-for="moto.InformacionAdicional"></textarea>
                    <label for="floatingTextarea">Información adicional</label>
                </div>
            </div>

            <div class="cargarArchivos">
                <span class="titulosCargar">Subir foto de la moto</span>
                <div class="contenedor" id="previewFotoMotoContainer">
                    <!-- Contenedor de previsualización -->
                    <img id="previewFotoMoto" alt="Previsualización de la foto de la moto" style="display:none;" />
                </div>
                <label for="fotoMoto" class="btnMoto">Seleccionar la foto</label> <!-- Botón -->
                <input type="file" id="fotoMoto" name="fotoMoto" class="file-upload-input" onchange="mostrarImagen(event, 'previewFotoMoto')">
            </div>
        </div>

        <!-- Botón para avanzar al siguiente paso -->
        <button type="submit" class="botonSiguiente">Guardar moto</button>
    </form>
</div>

@section Scripts {
    <script>
        function mostrarImagen(event, imgId) {
            var input = event.target;
            var output = document.getElementById(imgId);
            var previewContenedor = document.getElementById(imgId + 'Container');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    output.src = e.target.result;
                    output.style.display = 'block';
                    previewContenedor.style.display = 'block'; // Asegúrate de que el contenedor de la previsualización sea visible
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                output.style.display = 'none'; // Ocultar la imagen si no hay archivo seleccionado
                previewContenedor.style.display = 'flex'; // El contenedor de previsualización siempre es visible
            }
        }
    </script>
}
