@functions {
    public string GetSexoDescripcion(byte? sexo)
    {
        return sexo switch
        {
            1 => "Masculino",
            2 => "Femenino",
            3 => "Otro",
            _ => "No especificado",
        };
    }

    public string GetEstadoUsuario(byte? EstadoUsuario)
    {
        return EstadoUsuario switch
        {
            1 => "Inactivo",
            2 => "Activo",
            _ => "No especificado",
        };
    }
}
@model List<ProyectoWheelWander.Models.Data.Usuario>

@{
    ViewData["Title"] = "Lista de usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card mb-3">
    <h5 class="card-header">Lista de usuarios</h5>
    <div class="d-flex align-items-center justify-content-center mt-4">
        <form asp-action="Exportar" asp-controller="ExportarExcel" method="post">
            <button type="submit" class="btn btn-primary">Exportar Excel</button>
        </form>
    </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Primer Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Fecha Registro</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Cedula</td>
                        <td>@item.PrimerNombre</td>
                        <td>@item.PrimerApellido</td>
                        <td>@item.FechaRegistro</td>
                        <td>@item.Email</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" _msttexthash="256607" _msthash="325">
                                    Acciones</button>
                                <ul class="dropdown-menu" style="" _mstvisible="0">
                                    <li _mstvisible="1"><a class="dropdown-item" asp-action="UpdateUsuario" asp-controller="Usuarios" asp-route-cedula="@item.Cedula" _msttexthash="93353" _msthash="326" _mstvisible="2">Editar</a></li>
                                    <li _mstvisible="1"><a class="dropdown-item" asp-action="MiPerfil" asp-controller="Usuarios" asp-route-cedula="@item.Cedula" _msttexthash="180622" _msthash="327" _mstvisible="2">Detalles</a></li>
                                    <li _mstvisible="1"><a class="dropdown-item" asp-action="DeleteUsuario" asp-controller="Usuarios" asp-route-cedula="@item.Cedula" _msttexthash="230152" _msthash="328" _mstvisible="2">Eliminar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>


